extends layout

block content


    div.container
        form
            div.col-md-6.col-md-offset-2
                h1 Register

                label Email
                input.form-control(type='text' formControlName='email' required)
                br
                label Password
                input.form-control(type='password' formControlName='password' required)
                br
                label Confirm Password
                input.form-control(type='password' formControlName='confirmPassword' required)
                br
                label First Name
                input.form-control(type='text' formControlName='firstname' required)
                br
                label Location
                input.form-control(type='text' formControlName='location' required)
                br
                div.form-actions
                    button.btn.btn-success Register
